* {
  margin: 0;
  padding: 0;
}

.heading {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

.container {
  text-align: center;
  margin-top: 30px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticTac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #e1e0e0;
  width: 100px;
  height: 100px;
  border: 2px solid #0000ff;
  cursor: pointer;
  margin: 7px;
  color: black;
  font-size: 50px;
}

#reset,
#newGame {
  width: 137px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
  padding: 5px 10px;
  border: 2px solid #0000ff;
  background-color: #e1e0e0;
  cursor: pointer;
}

.winDiv {
  font-size: 50px;
  border: 2px solid #0000ff;
  padding: 20px 40px;
  color: #008000;
}

.hide {
  display: none;
}
